services:
  # -------------------------
  # AUTH DATABASE
  # -------------------------
  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: ${AUTH_DB_PASSWORD}
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
    networks:
      - cadventure-net

  # -------------------------
  # AUTH SERVICE
  # -------------------------
  auth-service:
    build: ./auth-service
    container_name: auth-service-adventure
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: auth_user
      SPRING_DATASOURCE_PASSWORD: ${AUTH_DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ADMIN_SECRET: ${ADMIN_SECRET}
    depends_on:
      - auth-db
    networks:
      - cadventure-net

  # -------------------------
  # LESSON DATABASE
  # -------------------------
  lesson-db:
    image: postgres:15
    container_name: lesson-db
    environment:
      POSTGRES_DB: cadventure_lessons
      POSTGRES_USER: cadventure
      POSTGRES_PASSWORD: ${LESSON_DB_PASSWORD}
    volumes:
     - lesson_pgdata:/var/lib/postgresql/data
    networks:
     - cadventure-net

  # -------------------------
  # LESSON SERVICE
  # -------------------------
  lesson-service:
    build: ./lesson-service
    container_name: lesson-service-adventure
    ports:
    - "8082:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://lesson-db:5432/cadventure_lessons
      SPRING_DATASOURCE_USERNAME: cadventure
      SPRING_DATASOURCE_PASSWORD: ${LESSON_DB_PASSWORD}
      ADMIN_SECRET: dev-secret
      CORS_ALLOWED_ORIGINS: http://localhost:5173
    depends_on:
      - lesson-db
    networks:
     - cadventure-net
      

  # -------------------------
  # FRONTEND
  # -------------------------
  frontend:
    build: ./frontend
    container_name: cadventure-frontend
    ports:
      - "5173:5173"
    depends_on:
      - auth-service
      - lesson-service
    networks:
      - cadventure-net

volumes:
  auth_pgdata:
  lesson_pgdata:

networks:
  cadventure-net:
    driver: bridge
